h1 {
    text-align: center;
    color: #fffbff;
  }
.title{
  font-size: 125px;
}
body {
  font-family: fantasy;
  color: #fffbff;
}

nav {
    background-color: #362417;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: #fffbff;
    font-size: 1.5em;
}

nav a:hover {
    color: #f1dabf;
    text-decoration: none;
}

body {
  background-color: #f1dabf;
  text-align: center;
}

main {
  background-color: #92817a;
  padding-top: 30px;
  padding-bottom: 30px;
}

img {
  width: 500px;
  max-height: 300px;
}
